{% extends 'museu/base.html' %}
{% block content %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Content</th>
                <th scope="col">Datetime</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.content }}</td>
                <td>{{ message.datetime|date:"F d, Y"}}</td>
                <td><button type="button" class="btn btn-primary">Edit</button></td>
                <td><button type="button" class="btn btn-danger">Remove</button></td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
